.header{
    background-color: bisque;
    text-align: center;
    height: 30px;
    width: auto;
    font-weight: bolder;
    font-style: italic;
    font-size: 20px;
    border: 5px solid;
    margin: 10px;
}

img{
    border: 2px solid rgba(27, 7, 46, 0.543);
    margin-left: 200px;
    /* width: 50%;
    height: 50%; */
    

}
.head{
    margin-left: 200px;
}